<!DOCTYPE html>
<html lang="en">
  <head>
    <title>full stack js</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
